src/main/resources/XML-XSD/Employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="employees" type="employeesType"/>
    <xs:complexType name="employeeType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="email"/>
            <xs:element type="xs:string" name="address"/>
            <xs:element type="xs:integer" name="position_id"/>
        </xs:sequence>
        <xs:attribute type="xs:integer" name="employee_id"/>
    </xs:complexType>
    <xs:complexType name="employeesType">
        <xs:sequence>
            <xs:element type="employeeType" name="employee" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>