src/main/resources/XML-XSD/Position.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="positions" type="positionsType"/>
    <xs:complexType name="positionType">
        <xs:sequence>
            <xs:element type="xs:string" name="name"/>
            <xs:element type="xs:string" name="description"/>
        </xs:sequence>
        <xs:attribute type="xs:integer" name="position_id" use="optional"/>
    </xs:complexType>
    <xs:complexType name="positionsType">
        <xs:sequence>
            <xs:element type="positionType" name="position" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>